<div class="p-6 flex flex-col density-minus-three">
  <h6 class="text-center mb-6" i18n="@@core.mobile-search-dialog.title">
    Configurez votre recherche
  </h6>

  <form>
    <mat-form-field class="w-full mb-4">
      <mat-label i18n="@@core.mobile-search-dialog.input-text"
        >Entrez une destination</mat-label
      >
      <input
        type="text"
        matInput
        [formControl]="destinationControl"
        [matAutocomplete]="auto"
      />
      @if (destinationControl.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="destinationControl.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      }

      <mat-autocomplete
        class="autocomplete-80"
        #auto="matAutocomplete"
        [displayWith]="displayFn"
      >
        @for (
          destination of filteredOptions | async;
          track destination.destinationId
        ) {
          <mat-option
            [value]="destination"
            class="border-b border-solid border-zinc-300"
          >
            <div class="py-4 px-2 flex items-center">
              <mat-icon class="icon-scale-40" fontSet="material-icons-outlined"
                >place</mat-icon
              >
              <div class="ml-4">
                <div class="text-base">
                  {{ destination.name }}
                </div>
                <div class="text-xs">{{ destination.parentName }}</div>
              </div>
            </div>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label i18n="@@core.mobile-search-dialog.date-picker-placeholder"
        >Saisissez vos dates</mat-label
      >
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-input [rangePicker]="picker" [min]="minDate">
        <input matStartDate />
        <input matEndDate />
      </mat-date-range-input>
      <mat-date-range-picker #picker touchUi="true"></mat-date-range-picker>
    </mat-form-field>

    <mat-chip-listbox multiple class="mb-8">
      @for (tag of activityTags; track tag) {
        <mat-chip-option>{{ tag }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </form>

  <button mat-flat-button (click)="submitSearch()" i18n="@@common.search">
    Rechercher
  </button>
</div>
