<div class="p-6 flex flex-col relative">
  <h6 i18n="@@core.mobile-search-dialog.title" class="text-center mb-6">
    Configurez votre recherche
  </h6>

  <form [formGroup]="searchForm">
    <mat-form-field class="w-full mb-4">
      <mat-label i18n="@@core.mobile-search-dialog.input-text"
        >Entrez une destination</mat-label
      >
      <input
        type="text"
        matInput
        formControlName="destination"
        [matAutocomplete]="auto"
      />
      @if (searchForm.get('destination')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchForm.get('destination')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      }

      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        class="autocomplete-80"
      >
        @for (
          destination of filteredOptions | async;
          track destination.destinationId
        ) {
          <mat-option
            [value]="destination"
            class="border-b border-solid border-zinc-300"
          >
            <div class="py-4 px-2 flex items-center">
              <mat-icon fontSet="material-icons-outlined" class="icon-scale-40"
                >place</mat-icon
              >
              <div class="ml-4">
                <div class="text-base">
                  {{ destination.name }}
                </div>
                <div class="text-xs">{{ destination.parentName }}</div>
              </div>
            </div>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label i18n="@@core.mobile-search-dialog.date-picker-placeholder"
        >Saisissez vos dates</mat-label
      >
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-input [rangePicker]="picker" [min]="minDate">
        <input matStartDate formControlName="startDate" />
        <input matEndDate formControlName="endDate" />
      </mat-date-range-input>
      <mat-date-range-picker
        #picker
        touchUi="true"
        restoreFocus="false"
      ></mat-date-range-picker>
    </mat-form-field>

    <div class="flex">
      <mat-form-field class="mr-2">
        <mat-label i18n="@@core.mobile-search-dialog.start-time"
          >Heure de début</mat-label
        >
        <input
          matInput
          formControlName="startTime"
          [matTimepicker]="startTimePicker"
        />
        <mat-timepicker-toggle [for]="startTimePicker" matSuffix />
        <mat-timepicker interval="30m" #startTimePicker />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@core.mobile-search-dialog.start-time"
          >Heure de fin</mat-label
        >
        <input
          matInput
          formControlName="endTime"
          [matTimepicker]="endTimePicker"
        />
        <mat-timepicker-toggle [for]="endTimePicker" matSuffix />
        <mat-timepicker #endTimePicker />
      </mat-form-field>
    </div>

    <mat-chip-listbox formControlName="activities" multiple class="mb-8">
      @for (tag of activityTags(); track tag.id) {
        <mat-chip-option [value]="tag">{{ tag.name }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </form>

  <button
    mat-flat-button
    [disabled]="isLoading()"
    (click)="submitSearch()"
    i18n="@@common.search"
  >
    Rechercher
  </button>
</div>

@if (isLoading()) {
  <div class="absolute center-spinner">
    <mat-progress-spinner mode="indeterminate"> </mat-progress-spinner>
  </div>
}
