<div
  class="h-14 grow flex items-center rounded-3xl bg-white border border-gray-400 border-solid"
  (click)="openSearchDialog()"
>
  <div class="flex items-center px-4">
    <mat-icon class="" aria-label="Search icon" fontIcon="search"></mat-icon>
    @if (!template) {
      <div i18n="@@core.pseudo-search.input-text" class="text-base pl-2">
        Recherche sur une destination
      </div>
    } @else {
      <div class="text-base pl-2">
        <ng-template [ngTemplateOutlet]="template"></ng-template>
      </div>
    }
  </div>
</div>
