<div class="mt-16 mx-6 flex flex-col items-center density-minus-three">
  <div class="h-24 flex justify-center items-center">
    <mat-icon fontIcon="touch_app" class="touch-icon"></mat-icon>
  </div>
  <div i18n="@@core.login.conect-and-explore" class="text-xl font-bold">
    Se connecter et explorer
  </div>
  <div i18n="@@core.login.create-account" class="my-4 text-base font-normal">
    Connectez-vous à votre compte à l'aide de votre email ou créez votre compte.
    Rapide et facile !
  </div>
  <mat-form-field class="w-full my-4">
    <mat-label>Email</mat-label>
    <input type="text" matInput [formControl]="emailControl" />
  </mat-form-field>

  <button
    mat-flat-button
    (click)="checkEmailAndNavigate()"
    i18n="@@core.login.continue"
    class="w-full"
  >
    Continuer
  </button>
</div>
