<div class="flex flex-col">
  <div class="mx-6 flex flex-col items-center text-center">
    <div class="mt-16">
      <div
        i18n="@@auth.account-created.welcome-asia-local-guide"
        class="text-xl font-bold"
      >
        Bievenue sur Asia Local Guide !
      </div>
      <div
        i18n="@@auth.account-created.survey-message"
        class="my-4 text-base font-normal"
      >
        Faisons connaissance. Saisissez les informations ci-dessous pour obtenir
        de meilleures recommandations.
      </div>
    </div>
  </div>

  <div class="flex-grow flex flex-col items-center text-center bg-gray-300">
    <div class="mx-6 mt-16">
      <div
        i18n="@@auth.account-created.favorite-activity"
        class="text-xl font-bold"
      >
        Quelles est votre activité préférée ?
      </div>
      <div
        i18n="@@auth.account-created.choose-options"
        class="my-4 text-base font-normal"
      >
        Choisissez jusqu'à 2 options.
      </div>

      <div class="large-mat-chip">
        <mat-chip-listbox>
          <mat-chip-option>
            <mat-icon matChipAvatar fontIcon="museum"></mat-icon>
            Test that gets really long to display
          </mat-chip-option>
          <mat-chip-option>
            <mat-icon matChipAvatar fontIcon="dinner_dining"></mat-icon>
            Test
          </mat-chip-option>
          <mat-chip-option>
            <mat-icon matChipAvatar fontIcon="barefoot"></mat-icon>
            Test
          </mat-chip-option>
          <mat-chip-option>
            <mat-icon matChipAvatar fontIcon="barefoot"></mat-icon>
            Test
          </mat-chip-option>
        </mat-chip-listbox>
      </div>

      <button
        mat-flat-button
        (click)="savePreferences()"
        i18n="@@auth.auth-entry.continue"
        class="w-full"
      >
        Continuer
      </button>
    </div>
  </div>
</div>
