<div class="p-5 flex flex-col">
  <div class="h-7 flex justify-end">
    <mat-icon
      fontIcon="close"
      (click)="closeDialog()"
      (onKeyPress)="closeDialog()"
    ></mat-icon>
  </div>
  <div
    i18n="@@planning.create-planning-dialog.name-planning"
    class="font-bold text-sm mb-5"
  >
    Saississez le nom de votre planning
  </div>

  <mat-form-field class="w-full mb-3">
    <input type="text" matInput [formControl]="name" />
    @if (name.value) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="name.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <button
    mat-flat-button
    (click)="savePlanning()"
    [disabled]="isLoading()"
    i18n="@@planning.create-planning-dialog.save-planning"
  >
    Sauvegarder le planning
  </button>
</div>
