<div class="flex flex-col px-4">
  <div class="flex items-center justify-end h-10 py-7">
    <mat-icon
      fontIcon="close"
      (click)="closeSidenav.emit()"
      class="scale-150"
    ></mat-icon>
  </div>

  @if (userName?.(); as userName) {
    <div class="flex items-center my-2">
      <div
        class="flex items-center justify-center w-9 h-9 rounded-full bg-blue-600 text-white mr-2"
      >
        {{ userName.initials }}
      </div>
      <div class="text-sm font-bold">{{ userName.name }}</div>
    </div>
  }

  <div class="flex flex-col mt-6 gap-y-2">
    @if (userName?.()) {
      <button
        mat-flat-button
        i18n="@@core.sidenav-content.logout"
        class="w-full my-2"
        (click)="signOut()"
      >
        Déconnexion
      </button>
    } @else {
      <a routerLink="/auth-entry">
        <button
          mat-flat-button
          i18n="@@core.sidenav-content.login"
          class="w-full my-2"
        >
          Connexion / Inscription
        </button>
      </a>
    }
  </div>
</div>
