@if (activity(); as activity) {
  <div class="h-64 pt-2 px-4 text-base font-normal">
    <div
      class="h-full flex gap-4 rounded-md border border-solid border-zinc-300"
    >
      <div class="grow shrink basis-2/5">
        <img
          class="rounded-l-md object-cover h-full w-full"
          src="{{ imageUrl() }}"
          alt="Activity Image"
        />
      </div>
      <div class="flex flex-col grow shrink basis-3/5 pr-4 py-2">
        <div class="flex mb-2">
          <mat-icon
            fontIcon="star"
            class="rating-icon text-emerald-600"
          ></mat-icon>
          {{ activity.combinedAverageRating | number: "1.0-0" }} ({{
            activity.reviewCount
          }})
        </div>
        <div>
          <b>
            {{ activity.title }}
          </b>
        </div>
        <div class="flex">
          <mat-icon
            fontIcon="schedule"
            class="rating-icon text-gray-300"
          ></mat-icon>
          {{
            activity.durationMinutes
              ? (activity.durationMinutes! / 60 | number: "1.0-0")
              : ""
          }}
          <div class="ml-1" i18n="@@planning.planning-activity.hour">
            heures
          </div>
        </div>
        <div class="flex flex-col items-end mt-auto">
          <div i18n="@@planning.planning-activity.from">à partir de</div>
          <div class="text-xl">
            <b> {{ activity.fromPrice }} EUR </b>
          </div>
        </div>
        <div class="flex items-center justify-between">
          {{ activity.startTime | date: "shortTime" }} -
          {{ activity.endTime | date: "shortTime" }}
          <button mat-raised-button>Réservation</button>
        </div>
      </div>
    </div>
  </div>
}
