@use "@angular/material" as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.search-dialog {
  .mat-mdc-dialog-surface {
    border-radius: 0;
  }
}

.density-minus-three {
  @include mat.form-field-density(-3);
  @include mat.icon-button-density(-3);
}

// Fix for matInput label not showing after density change
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-floating-label {
  display: inline !important;
}
