@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Waiting for user feedback before resizing mat input for application
  @include mat.form-field-density(-1);
  @include mat.icon-button-density(-1);
}

.top-down-mat-chip {
  @include mat.chips-overrides(
    (
      outline-color: transparent,
      with-icon-icon-size: 4rem,
      with-avatar-avatar-size: 4rem,
      container-height: 8rem,
    )
  );

  // CSS for mat chip text wrapping
  .mat-mdc-chip-action-label {
    max-width: 4rem;
    text-wrap: auto;
  }

  .mdc-evolution-chip-set__chips {
    display: flex;
    justify-content: center;
  }

  .mat-mdc-chip-action {
    display: flex;
    flex-direction: column;
  }
}

.screen-top-dialog {
  .mat-mdc-dialog-surface {
    border-radius: 0;
  }
}

.full-screen-dialog {
  .mat-mdc-dialog-container {
    padding: 12px;
  }
}

.icon-scale-40 {
  transform: scale(1.4);
}

mat-option.mat-mdc-option {
  padding-left: 0;
  padding-right: 0;
}

.autocomplete-80 {
  max-height: 80vh !important;
}

.notification-success {
  @include mat.snack-bar-overrides(
    (
      container-color: #4caf50,
      supporting-text-color: white,
      button-color: white,
    )
  );
}
.notification-error {
  @include mat.snack-bar-overrides(
    (
      container-color: #f44336,
      supporting-text-color: white,
      button-color: white,
    )
  );
}
